<div class="mega-menu-box" [class]="styleClass" [ngStyle]="style" [ngClass]="{'ui-menu ui-menubar ui-megamenu ui-widget ui-widget-content ui-corner-all ui-helper-clearfix':true,'ui-megamenu-vertical': orientation == 'vertical'}">
  <ul class="ui-menu-list ui-helper-reset ui-menubar-root-list">
    <ng-template ngFor let-category [ngForOf]="model">
      <li *ngIf="category.separator" class="ui-menu-separator ui-widget-content">
        <li *ngIf="!category.separator" #item [ngClass]="{'ui-menuitem ui-widget ui-corner-all':true,'ui-menu-parent':category.items,'ui-menuitem-active':item==activeItem}"
          (mouseenter)="onItemMouseEnter($event, item, category)" (mouseleave)="onItemMouseLeave($event, item)" (click)="itemClick($event, category, category.id)">
          <a class="ui-menuitem-link ui-corner-all ui-submenu-link" [ngClass]="{'ui-state-disabled':category.disabled, 'active':category.id===activeCategoryId}">
            <span class="ui-menuitem-text">{{category.label}}</span>
          </a>
          <div class="ui-megamenu-panel ui-widget-content ui-menu-list ui-corner-all ui-helper-clearfix ui-menu-child ui-shadow">
            <div>
              <ng-template ngFor let-submenu [ngForOf]="category.items">
                <div class="ui-menu-child-list">
                  <div class="ui-widget-header ui-corner-all" (click)="itemClick($event, submenu, category.id)">
                    <h3>{{submenu.label}}</h3>
                  </div>
                  <ul class="ui-menu-list ui-helper-reset">
                    <ng-template ngFor let-item [ngForOf]="submenu.items">
                      <li *ngIf="item.separator" class="ui-menu-separator ui-widget-content">
                        <li *ngIf="!item.separator" class="ui-menuitem-child ui-widget ui-corner-all">
                          <a *ngIf="!item.routerLink" [href]="item.url||'#'" class="ui-menuitem-link ui-corner-all" [attr.target]="item.target" [ngClass]="{'ui-state-disabled':item.disabled}"
                            (click)="itemClick($event, item, category.id)">
                            <span class="ui-menuitem-icon fa fa-fw" *ngIf="item.icon" [ngClass]="item.icon"></span>
                            <span class="ui-menuitem-text">{{item.label}}</span>
                          </a>
                          <a *ngIf="item.routerLink" [routerLink]="item.routerLink" [routerLinkActive]="'ui-state-active'" [routerLinkActiveOptions]="item.routerLinkActiveOptions||{exact:false}"
                            class="ui-menuitem-link ui-corner-all" [attr.target]="item.target" [ngClass]="{'ui-state-disabled':item.disabled}"
                            (click)="itemClick($event, item, category.id)">
                            <span class="ui-menuitem-icon fa fa-fw" *ngIf="item.icon" [ngClass]="item.icon"></span>
                            <span class="ui-menuitem-text">{{item.label}}</span>
                          </a>
                        </li>
                    </ng-template>
                  </ul>
                </div>
              </ng-template>
            </div>
          </div>
          </li>
    </ng-template>
    <li class="ui-menuitem ui-menuitem-custom ui-widget ui-corner-all" *ngIf="orientation === 'horizontal'">
      <ng-content></ng-content>
    </li>
  </ul>
</div>
