<div class="scroll-bar" id="scroll-bar">
    <div class="scroll-con">
        <button class="zoomIn" id="zoomIn" (click)="onScrolledinfo(true)">
            <span class="iconfont">&#xe61a;</span>
        </button>
        <div class="default-bar" id="defaultBar">
             <div id="slideACtive" class="slide-active"></div> 
             <span class="slide-bar" id="zoomsliderbar"></span>
        </div>
        <button class="zoomOut" id="zoomOut" (click)="onScrolledinfo(false)">
            <span class="iconfont">&#xe61b;</span>
        </button>
    </div>
</div>  